img{
    position: absolute;
    width: 300px; /*the image width*/
    height: 300px; /*the image height*/
    left: 50%;
    top: 50%;
    margin-left: -185px; /*half the image width*/
    margin-top: -165px; /*half the image height*/
}
.brand {
    color: #252C37;
    text-shadow: 1px -1px 0 #74D1EA, -1px -1px 0 #74D1EA, -1px 1px 0 #74D1EA, 1px 1px 0 #74D1EA; 

}
  
  .brand:before {
    color: #252C37;
    text-shadow: 1px -1px 0 green, -1px -1px 0 green, -1px 1px 0 green, 1px 1px 0 green;
    content: 'DeHUB KENYA '; }
  
  .brand:after {
    color: #252C37;
    text-shadow: 1px -1px 0 #D0D6E0, -1px -1px 0 #D0D6E0, -1px 1px 0 #D0D6E0, 1px 1px 0 #D0D6E0;
    content: ' 2018'; }
.writing{
    float: left;
    margin-top: 220px;
    margin-left: 100px;
     
}
h3{
    font-family: 'Poppins', sans-serif;
    letter-spacing: .128em;
  font-weight: 400;
  font-size: 16px;
}
body{
    font-family: 'Karla', sans-serif;
    color: #D0D6E0;
    font-size: 13px;
    letter-spacing: .025em;
    text-align: right;   
}
.mid{
width: 99%;
position: absolute;
height: 32px;
border-bottom: 0.5px solid #BEE7F0;
bottom: 24px; 
}
.midu{
    width: 99%;
    position: absolute;
    height:32px;
    border-top: 0.5px solid #BEE7F0;
    top: 24px;
}
.copyright {
    color: rgba(208, 214, 224, 0.6);
    text-align: right;
    font-size: 9px;
    line-height: 1.1em;
    position: relative;
    margin-top: 24px;
    margin-right: 10px;
    z-index: 100;
}
header, footer {
    position: absolute;
    width: 100%;
    height: 56px; }
    header .mid, header .left, header .right, footer .mid, footer .left, footer .right {
      position: absolute;
      height: 32px; }
    header .left, header .right, footer .left, footer .right {
      width: 212.6153846154px;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #252C37; }
      header .left:after, header .right:after, footer .left:after, footer .right:after {
        display: block;
        position: absolute;
        color: rgba(208, 214, 224, 0.6); }
    header .mid, footer .mid {
      width: 100%; }
    header .left, footer .left {
      left: 0;
      z-index: 100; }
    header .right, footer .right {
      right: 0;
      z-index: 99; }