img{
    position: absolute;
    width: 400px; /*the image width*/
    height: 400px; /*the image height*/
    left: 50%;
    top: 50%;
    margin-left: -185px; /*half the image width*/
    margin-top: -165px; /*half the image height*/
}
.brand {
    color: #252C37;
    text-shadow: 1px -1px 0 #74D1EA, -1px -1px 0 #74D1EA, -1px 1px 0 #74D1EA, 1px 1px 0 #74D1EA; 

}
  
  .brand:before {
    color: #252C37;
    text-shadow: 1px -1px 0 green, -1px -1px 0 green, -1px 1px 0 green, 1px 1px 0 green;
    content: 'DeHUB KENYA '; }
  
  .brand:after {
    color: #252C37;
    text-shadow: 1px -1px 0 #D0D6E0, -1px -1px 0 #D0D6E0, -1px 1px 0 #D0D6E0, 1px 1px 0 #D0D6E0;
    content: ' 2018'; }
.writing{
    float: left;
    margin-top: 220px;
    margin-left: 280px; 
}